# Entornos virtuales
venv/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# FastAPI / logs
*.log

# Base de datos local
*.sqlite3

# VS Code
.vscode/

# Node
node_modules/

# Vite
dist/

# OS
.DS_Store
Thumbs.db